@media only screen and (max-width: 1199px) {
.container{padding: 0 5%}
   .d_flex p{
       font-size: 14px;
       line-height: 18px;
   }
.main_banner h1{
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 25px;
}
.main_banner p{
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 55px;
}
.btn{
    font-size: 16px;
    line-height: 22px;
    margin-right: 30px;
}

.text{
        left:7%;
        max-width: 800px;
        position: absolute;
        padding-top: 15%;
        width: 100%;
        z-index: 3;
        align-items: center;
}
    .text h1{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }
.text p{
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 55px;
}
    .text .btn{
        font-family: '20 Kopeek';
        display: inline-block;
        padding: 19px 47px;
        background: #fff;
        border-radius: 40px;
        color: #181818;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        margin-right: 20px;
    }
                        /*style*/
 .style{
     padding-top: 80px;
     padding-bottom: 120px;
 }
 .style h2{
     font-size: 34px;
     line-height: 37px;
 }
.style_about img{
    max-width: 450px;
    width: 100%;
    /*max-height: 308px;*/
    /*!*height: 100%;*!*/
    height: auto;
}
.style_about p{
    font-size: 16px;
    line-height: 22px;
}
.name h2{
    font-size: 45px;
    line-height: 45px;
}
.numbers h2{
    font-size: 45px;
    line-height: 45px;
}
.numbers p{
    font-size: 16px;
    line-height: 20px;
}
.simple5 span{
    font-size: 14px;
    line-height: 18px;
}
.left_text h2{
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 16px;
}
.left_text{
    margin-left: 30px;
    max-width: 530px;
    width: 100%;
}
.price{
    justify-content: space-around;
}
.price p{
    font-size: 16px;
    line-height: 22px;
}
.price img{
    max-height: 330px;
    margin: 0;
}
.portfolio{
    padding-bottom: 120px;
}
                    /*portfolia*/
.portfolio{
    padding-bottom: 90px;
}
.portfolio h2 {
    font-size: 45px;
    line-height: 45px;
}
.portfolio p{
    font-size: 16px;
    line-height: 22px;
}
                    /*<!--guidelines-->*/
.guideline h2{
    margin-bottom: 19px;
}
.guideline_about{
    padding-bottom: 88px;
}
.guideline_img{
    max-width: 530px;
    max-height: 330px;
    width: 100%;
}
.guideline_text{
    margin-left: 19px;
}
.text_top{
    padding: 14px 5px 13px 12px;
}
.text_top h3{
    font-size: 20px;
    line-height: 22px;
}
.guideline_text p{
    font-size: 16px;
    line-height: 22px;
}
.text_bottom{
    font-size: 16px;
    line-height: 22px;
}
                /*application form*/
.application h2{
    font-size: 34px;
    line-height: 37px;
}
 .application h3{
        font-size: 20px;
        line-height: 22px;
    }
.application input{
    width: 100%;
    padding: 18px 22px;
    font-size: 16px;
}


.btn{
    font-size: 16px;
    line-height: 22px;
    box-sizing: border-box;
    padding: 20px 47px;
}

.checkbox{
    display: inline-block;
    margin-top: 25px;
    max-width: 850px;
    width: 100%;
}

input.agree_check{
    display: inline-block;
    max-width: 18px;
}

                        /*process*/
.process{
    padding-bottom: 133px;
}
.process h2{
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 87px;
}
.process h3 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 26px;
}
.steps.one,.two,.three{
    max-width: 160px;
}
.creative_search{
    margin-bottom: 60px;
}
.explanation{
    margin-left:15%;
}


                       /*warranty*/
.warranty{
    padding-bottom: 60px;
}
.advantage .numbers{
    justify-content: space-between;
}
.advantage p{
    font-size: 14px;
    line-height: 18px;
}

             /*keep_in_touch*/
.keep_in_touch{
    padding-top: 100px;
    padding-bottom: 120px;}

.your_contact{
    margin-right: 110px;
}
.contacts h2{
    font-size: 34px;
    line-height: 37px;
}
.your_contact input{
    font-size: 16px;
    line-height: 22px;
    max-width: 370px;
}
.our_contacts h3{
    font-size: 20px;
    line-height: 22px;
}
.our_contacts h3:first-of-type{
    margin-top: 35px;
    margin-bottom: 17px;
}
.our_contacts h3:last-of-type{
    margin-top: 10px;
}
                /*news_about*/

.news_about{
    padding-bottom: 30px;
}
.news_about h2{
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 31px;
}
.news{
    max-width: 210px;
    margin-right: 30px;
}
.sources p{
    font-size: 16px;
    line-height: 22px;
}



                      /*process*/
.process{
    padding-bottom: 100px;
}
.process h2{

}
                /*<!--style steps-->*/
.column_title{
    max-width: 146px;
}
.row_content h3{
    font-size: 20px;
    line-height: 22px;
}
.row_content h2{
    font-size: 34px;
    line-height: 37px;
}
.row_content p{
    font-size: 14px;
    line-height: 18px;
}
.cell{
    max-width: 220px;
    width: 100%;
}
    .table :first-child .three{
        max-width: 300px;
        width: 100%;
    }




















}
/*@media only screen and (max-width: 1024px) {*/
/*}*/
@media only screen and (max-width: 992px) {
    header ul{
        display: none;
    }
    .bg_media{
        display: contents;
        width: 100%;
    }
    .text{
        padding-top: 235px;
        max-width: 500px;
        width: 100%;
    }
    .position h1{
        color: white;
    }
    .text p{
        color: white;
        margin-bottom: 75px;
    }
    .text .btn{
        display: block;
        margin-bottom: 40px;
    }
    .owl-carousel{
        display: none;
    }
    .owl-carousel, .main_banner{
        display: none;
    }
    .owl-prev, .owl-next{
        display: none;
    }
    .style_about{
        display: block;
        max-width: 450px;
    }
    .style_about img{
        margin-bottom: 30px;
    }
 .name h2{
     max-width: 620px;
 }
 .name .numbers{
     flex-wrap: wrap;
     justify-content: flex-start;
 }
 .simple1, .simple2, .simple3, .simple4, .simple5{
     margin-right: 100px;
 }
 .price{
     flex-wrap: wrap;
     justify-content: flex-start; }
 .values .left_text{
     margin-left: 0;
     margin-bottom: 25px;
     order: -1;
     width: 100%;
 }
 .guideline_about{
     flex-wrap: wrap;
 }
 .guideline_img-media{
     display: contents;
 }
 .guideline_img{
     display: none;
 }
 .guideline_text{
     margin-left: 0;
     margin-top: 15px;
     max-width: 500px;
 }
 #F_name{
     margin-bottom: 20px;
 }
 .creative_search{
     flex-wrap: wrap;
     justify-content: flex-start;
 }
 .img_creative{
     width: 100%;
     margin-bottom: 18px;
 }
 .explanation{
     margin: 0;
 }
 .row:first-child .column_title{
     display: none;
 }
 .row{
     flex-wrap: wrap;
 }
 .column_title{
     display: block;
     margin: 0;
     max-width: none;
     width: 100%;
     border-radius: 5px;
 }
    .row:last-child .column_title {
        border-radius:5px;
    }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 420px) {
}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {
    .container{max-width: 330px}
}
@media only screen and (max-width: 320px) {
    .container{max-width: 290px}
}