@font-face {
    font-family: '20 Kopeek-Book';
    src: url('../fonts/book/20Kopeek-Book.eot');
    src: url('../fonts/book/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/book/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/book/20Kopeek-Book.woff') format('woff'),
    url('../fonts/book/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/book/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek.eot');
    src: url('../fonts/20Kopeek.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek.woff2') format('woff2'),
    url('../fonts/20Kopeek.woff') format('woff'),
    url('../fonts/20Kopeek.ttf') format('truetype'),
    url('../fonts/20Kopeek.svg#20Kopeek') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    max-width: 1110px;

}
.main_banner{
    background-image: url(../images/11.png);
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 344px;
}
.main_banner.banner_2{
    background-image: url(../images/12.png);
}
.main_banner.banner_3{
    background-image: url(../images/13.png);
}
.main_banner.banner_4{
    background-image: url(../images/14.png);
}
                /*header*/
header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 31px;
}
header p{
    font-family: '20 Kopeek';
    margin-left: 22px;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
}
header li span{
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 22px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.d_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header ul{
    list-style: none;
    display: flex;
    padding-top: 1px;
}
header li{
    margin-left: 23px;
}
header .soc{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}
.main_banner h1{
    font-family: '20 Kopeek-Book';
    font-size: 55px;
    line-height: 55px;
    color:#181818 ;
    margin-bottom: 30px;
    font-weight: 400;
}
.main_banner p{
    font-family: '20 Kopeek-Book';
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 65px;
    color:#181818 ;
}
.main_banner .btn{
    font-family: '20 Kopeek';
    display: inline-block;
    padding: 23px 47px;
    background: #fff;
    border-radius: 40px;
    color: #181818;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}
.style{
    padding-top: 70px;
    padding-bottom: 140px;
    background: #FFFFFF;
}
.style h3{
    font-family: '20 Kopeek-Book';
    font-size: 38px;
    line-height: 41px;
    color: #181818;
    font-weight: 400;
    margin-bottom: 15px;
}
.style_explanation{
    display: flex;
}
.style p{
    font-family: '20 Kopeek';
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #181818;
    margin-left: 30px;
}
.name h2{
    font-family: '20 Kopeek-Book';
    display: inline-block;
    font-size: 50px;
    line-height: 55px;
    color: #181818;
    font-weight: 400;
    margin-bottom: 40px;

}
.numbers{
    font-family: '20 Kopeek-Book';
    display: flex;
    margin-bottom: 120px;
}
.simple1,.simple2, .simple3, .simple4, .simple5{
    display: flex;
}
.numbers h2{
    font-family: '20 Kopeek-Book';
    display: inline-block;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-right: 8px;
}
.numbers p{
    font-family: '20 Kopeek';
    display: inline-block;
    padding-top: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.simple1{
    margin-right: 67px;
}
.simple2{
    margin-right: 43px;
}
.simple3{
    margin-right: 28px;
}
.simple4{
    margin-right: 90px;
}
.simple5 span{
    margin-top: 16px;
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
}
.price h3{
    font-size: 38px;
    line-height: 41px;
    color: #181818;
    font-weight: 400;
    text-align: right;
    margin-bottom: 15px;
}
.price_reason{
    display: flex;
    margin-bottom: 133px;
}
.price_reason p{
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}
.price_reason span{
    display: block;
    background: #2B59C3;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 11px 7px 11px 13px;
    margin-left: -13px;
    margin-right: 75px;
}

        /*<!--guidelines-->*/
.guideline h2{
    font-family: '20 Kopeek-Book';
    text-align: left;
    font-family: ;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.guideline_about{
    display: flex;
    padding-bottom: 77px;
}
.guideline_text{
    margin-left: 15px;
}
.text_top{
    padding: 11px 39px 18px 14px;
    /*margin-left: 15px;*/
    background: #2B59C3;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}
.text_top h3{
    font-family: '20 Kopeek-Book';
    font-size: 26px;
    line-height: 29px;
}
.guideline_text p{
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
}
.text_bottom{
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    padding-left: 14px;
    padding-right: 39px;
}

        /*application form*/
.application h2{
    font-family: '20 Kopeek-Book';
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 11px;
}
.application h3{
    font-family: '20 Kopeek-Book';
    font-size: 26px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 27px;
}
form{
    margin-bottom: 500px;

}
.application input{
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    padding: 23px 29px;
    margin-right: 30px;
    border-radius: 10px;
    border: solid 1px #181818;
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #868686;
}
.btn{
    box-sizing: border-box;
    max-width: 228px;
    width: 100%;
    padding: 23px;
    background: #2B59C3;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.checkbox{
    margin-top: 21px;
    display: block;
    font-size: 18px;
    line-height: 25px;
}

.application a {
    font-family: '20 Kopeek';
    text-decoration: none;
}
input.agree_check{
    max-width: 18px;
    margin-right: 11px;
}
