@font-face {
    font-family: '20 Kopeek-Book';
    src: url('../fonts/book/20Kopeek-Book.eot');
    src: url('../fonts/book/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/book/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/book/20Kopeek-Book.woff') format('woff'),
    url('../fonts/book/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/book/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek.eot');
    src: url('../fonts/20Kopeek.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek.woff2') format('woff2'),
    url('../fonts/20Kopeek.woff') format('woff'),
    url('../fonts/20Kopeek.ttf') format('truetype'),
    url('../fonts/20Kopeek.svg#20Kopeek') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none}

.container{
    margin: auto;
    max-width: 1110px;
}

.ui-dialog{
    max-width: 648px !important;
    width: 100% !important;
    top: 135px;
    padding-left: 54px;
}

.ui-widget-header{
    background-color: #fff;
}
.ui-corner-all{
    border: none;
}
.ui-dialog-title{
font-family: "20 Kopeek-Book";
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
    color: #181818;
    padding-top: 47px;
    margin-bottom: 30px;
}
#first_name{display: block;
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 25px;
    border: solid 1px #181818;
    border-radius: 10px;
    margin-bottom: 10px;
    padding:23px 0 23px 29px;
    max-width: 540px;
    width: 100%;
}
#phone{
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 25px;
    border: solid 1px #181818;
    border-radius: 10px;
    margin-bottom: 10px;
    padding:23px 0 23px 29px;
    max-width: 540px;
    width: 100%;
    margin-bottom: 21px;
}
#check_ui{
    margin-right: 11px;
}
.checkbox{
    margin-bottom: 48px;
}
.ui-widget .ui-widget{
    position: absolute;
    right: -35px;
    top: -25px;
    background-image: url("../images/close.svg");
    width: 31px;
    height: 31px;
}
.ui-icon {
    width: 31px;
    height: 31px;
}
.ui-icon,.ui-widget-content .ui-icon{
   display: none;
}
.ui-corner-all{
    border: none;}




















.main_banner{
    background-image: url(../images/11.png);
    background-size: cover;
    background-position: center top;
    height: 100vh;
    /*padding-bottom: 300px;*/
}
.main_banner.banner_2{
    background-image: url(../images/12.png);
}
.main_banner.banner_3{
    background-image: url(../images/13.png);
}
.main_banner.banner_4{
    background-image: url(../images/14.png);
}
.owl-nav{
    align-items: center;
}
.owl-nav .owl-prev{
    position: absolute;
    z-index: 7;
    top: 40%;
    left: 2%;
    background-color: #181818;
    }

.owl-nav .owl-prev:before {
    padding-top: 15%;
    content: "\f053";
    color: black;
    font-size: 50px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.owl-nav .owl-next{
    position: absolute;
    z-index: 7;
    top: 40%;
    right: 2%;
    background-color: #181818;
}

.owl-nav .owl-next:after {
    content: "\f054";
    color: black;
    font-size: 50px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.bg_media{
    display: none;
}

/*header*/
header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 31px;
    z-index: 2;
}
header p{
    font-family: '20 Kopeek';
    margin-left: 22px;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
}
header li span{
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 22px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.d_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header ul{
    list-style: none;
    display: flex;
    padding-top: 1px;
}
header li{
    margin-left: 23px;
}
header .soc{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}
.text{
    left:7%;
    max-width: 1000px;
    position: absolute;
    height: 100vh;
    padding-top: 15%;
    width: 100%;
    z-index: 3;
}
.text h1{
    font-family: '20 Kopeek-Book';
    font-size: 55px;
    line-height: 55px;
    color:#181818 ;
    margin-bottom: 30px;
    font-weight: 400;
}
.text p{
    font-family: '20 Kopeek-Book';
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 65px;
    color:#181818 ;
}
.text .btn{
    font-family: '20 Kopeek';
    display: inline-block;
    padding: 23px 47px;
    background: #fff;
    border-radius: 40px;
    color: #181818;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}

/*STYLE*/
.style{
    padding-top: 70px;
    padding-bottom: 150px;}

.style h2{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.style_about{
    display: flex;
}
.style_about img{
    max-width: 635px;
    width: 100%;
    margin-right: 30px;
}
.style_about p{
    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}

.name{
    padding-bottom: 120px;
}
.name h2{
    font-family: '20 Kopeek-Book';
    display: inline-block;
    font-size: 50px;
    line-height: 55px;
    color: #181818;
    font-weight: 400;
    margin-bottom: 40px;

}
.name .numbers{
    font-family: '20 Kopeek-Book';
    display: flex;
    justify-content: space-between;
}
.simple1,.simple2, .simple3, .simple4, .simple5{
    display: flex;
}
.numbers h2{
    font-family: '20 Kopeek-Book';
    display: inline-block;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-right: 8px;
}
.numbers p{
    font-family: '20 Kopeek';
    display: inline-block;
    padding-top: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.name.simple5 span{
    margin-top: 16px;
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
}
/*price*/
.values{
    margin-bottom: 133px;
}
.left_text h2{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    text-align: left;
    margin-bottom: 15px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price p{
    display: block;
    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    max-width: 400px;
    width: 100%;
}
.left_text{
    margin-left: 75px;
}
.price img{
    display: inline-block;
    max-width: 635px;
    width: 100%;
}
.price span{
    display: inline-block;
    background: #2B59C3;
    color: #FFFFFF;
    padding: 11px 7px 11px 13px;
    border-radius: 5px;
    margin-left: -13px;
}

/*portfolio*/
.portfolio{
    padding-bottom: 100px;
}

.portfolio_title{
    margin-bottom: 100px;
}
.portfolio_title:last-child{
    margin-bottom: 53px;
}

.portfolio h2{
    display: inline-block;
    font-family: '20 Kopeek-Book';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    font-weight: 400;
}
.portfolio_info{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 38px;
    margin-bottom: 3px;
}

.portfolio_title img{
    max-width: 1110px;
    width: 100%;
}
.portfolio a{
    font-family: '20 Kopeek';
    display: inline-block;
    padding: 23px 47px;
    border: solid 1px #181818;
    border-radius: 40px;
    color: #181818;
    font-size: 18px;
    line-height: 25px;  .
    text-decoration: none;
    text-align: center;
    margin-left: 90px;
}
.portfolio p{
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}
.portf_btn{
    display: flex;
    justify-content: center;

}
.portfolio .btn_portfolio{
    font-family: '20 Kopeek';
    display: inline-block;
    padding: 23px 47px;
    background: #2B59C3;
    border: none;
    border-radius: 40px;
    color:#ffffff ;
    font-size: 26px;
    line-height: 29px;
    text-decoration: none;
    text-align: center;
    margin: 0;
}
/*<!--guidelines-->*/
.guideline h2{
    font-family: '20 Kopeek-Book';
    text-align: left;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.guideline_about{
    display: flex;
    padding-bottom: 77px;
}
.guideline_img{
    max-width: 635px;
    width: 100%;
    flex-shrink: 0;
}
.guideline_img-media{
    display: none;
}
.guideline_text{
    margin-left: 15px;
}
.text_top{
    padding: 11px 39px 18px 14px;
    /*margin-left: 15px;*/
    background: #2B59C3;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}
.text_top h3{
    font-family: '20 Kopeek-Book';
    font-size: 26px;
    line-height: 29px;
}
.guideline_text p{
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
}
.text_bottom{
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    padding-left: 14px;
    padding-right: 39px;
}
/*<!--guidelines-- end>*/


/*application form*/
.application{
    padding-bottom: 100px;
}
.application h2{
    font-family: '20 Kopeek-Book';
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 11px;
}
.application h3{
    font-family: '20 Kopeek-Book';
    font-size: 26px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 27px;
}

.application input{
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    padding: 23px 29px;
    border-radius: 10px;
    border: solid 1px #181818;
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #868686;
}
.application input:first-of-type{
    margin-right: 30px;
}
.btn{
    display: block;
    box-sizing: border-box;
    max-width: 228px;
    width: 100%;
    padding: 23px;
    background: #2B59C3;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.checkbox{
    margin-top: 21px;
    display: block;
    font-size: 18px;
    line-height: 25px;
}

.application a {
    font-family: '20 Kopeek';
    text-decoration: none;
}
input.agree_check{
    max-width: 18px;
    margin-right: 11px;
    margin-bottom: 30px;
}
/*process*/
.process{
    padding-bottom: 150px;
}

.process h2{
    display: inline-block;
    font-family: '20 Kopeek-Book';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    font-weight: 400;
    margin-bottom: 83px;
}
.creative_search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.process h3{
    font-family: "20 Kopeek-Book";
    font-size: 26px;
    line-height: 28px;
    color: #181818;
    font-weight: 400;
    margin-top: 23px;
}

.explanation{
    display: flex;
    max-width: 580px;
    width: 100%;
    justify-content: space-between;
}
.steps.one{
    max-width: 166px;
    width: 100%;
}
.steps.two{
    max-width: 166px;
    width: 100%;
}
.steps.three{
    max-width: 200px;
    width: 100%;
}
.steps p{
    display: inline-block;
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    font-weight: 400;
}
.steps span{
    display: inline-block;
    margin-top: 15px;
    font-family: "20 Kopeek";
    font-size: 15px;
    line-height: 19px;
}


/*<!--style steps-->*/

.creative_steps{
    padding-bottom: 100px;
}
.row{
    display: flex;
}
.column_title{
    display: inline-block;
    background-color: #2B59C3;
    max-width: 160px;
    width: 100%;
    margin-right: 30px;
    padding: 25px 0;
}
.row_content h2{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 38px;
    line-height: 42px;
    color: #868686;
    padding: 15px 10px 0 20px;
}
.column_title h3{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 10px;
}
.row:first-child .column_title{
    border-radius: 10px 10px 0 0;
}
.row:last-child .column_title{
    border-radius: 0 0 10px 10px;
}
.row_content{
    display: flex;
    max-width: 880px;
    width: 100%;
    border-bottom: solid 1px #868686;
}
.row_content p{
    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 25px 10px;
}
.row:first-of-type .two{
    border-top: solid 4px #2B59C3;
    border-radius: 10px 10px 0 0;
}
.row:last-of-type .two{
    border-bottom: solid 4px #2B59C3;
    border-radius:0 0 10px 10px;
}
.table :first-child .row_content{
    border: none;
}
.table :last-child .row_content{
    border: none;
}
.row .two{
    margin: 0 20px ;
    border: solid 4px #2B59C3;
    border-bottom: none;
    border-top: none;
}
.table :first-child .three{
    max-width: 360px;
    width: 100%;
}

.cell{
    display: flex;
    max-width: 260px;
    width: 100%;
    flex-shrink: 0}

.two h2{
    color:#2B59C3;
}













/*warranty*/

.warranty{
    background-image: url(../images/Rectangle32.jpg);
    background-size: cover;
    color: white;
    padding-top: 97px;
    padding-bottom: 80px;
}

.advantage h2{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    color: #ffffff;
    margin-bottom: 70px;
}
.advantage .numbers{
    display: flex;
}
.advantage .simple1,.simple2,.simple3,.simple4{
    margin-right: 28px;
}
.advantage p{
    display: inline-block;
    padding-top: 24px;
    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    max-width: 141px;
    width: 100%;
}



/*keep_in_touch*/
.keep_in_touch{
    padding-top: 150px;
    padding-bottom: 127px;
    background-color: white;
}
.contacts{
    display: flex;
}
.your_contact{
    margin-right: 120px;
    max-width: 460px;
    width: 100%;
}
.contacts h2{
    font-family: "20 Kopeek-Book";
    font-size: 38px;
    line-height:42px;
    font-weight: 400;
    color: #181818;
    margin-bottom: 31px;
}

.your_contact input{
    display: block;
    box-sizing: border-box;
    max-width: 445px;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 20px;
    font-family: "20 Kopeek";
    font-size: 16px;
    line-height: 22px;
    padding-left: 21px;
    border: solid 1px #181818;
    border-radius: 10px;
    margin-bottom: 10px;
}
.your_contact .contact_check{
    display: inline-block;
    max-width: 18px;
    margin-top: 10px;
    margin-right: 11px;
    margin-bottom: 30px;
}
.our_contacts h3{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    color: #181818;
}
.our_contacts h3:first-of-type{
    margin-bottom: 15px;
    margin-top: 30px;
}
.our_contacts h3:last-of-type{
    margin-top: 15px;
}

/*news_about*/
.news_about{
    padding-bottom: 38px;
}
.news_about h2{
    font-family: "20 Kopeek-Book";
    font-weight: 400;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 14px;
}
.sources{
    display: flex;
    align-items: flex-start;
}

.news{
    background-color: #2B59C3;
    max-width: 255px;
    border-radius: 10px;
    margin-right: 38px;
}

.sources p{
    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
    padding: 6px 10px 14px;
}

.sources p span{
    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    line-height: 19px;
    color: white;
    margin-top: 28px;
}



footer{margin-top: 30px;
    margin-bottom: 20px;}
footer p{

    font-family: "20 Kopeek";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
}